.slide-background-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-src*="rNzVEGp"],
[data-src*="RwZPzJb"] {
  animation: width 5s steps(4) infinite alternate;
}

@keyframes width {
  from { width: 100vw; }
  to { width: 30vw; }
}
