.noper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: scale(0);
  transition-duration: 1s !important;
  transition-timing-function: cubic-bezier(1,.5,.75,1.25) !important;

  &.visible {
    transform: scale(1);
  }

  svg {
    height: 50vmin;
    width: 50vmin;
    display: block;
  }
}
